<!doctype html>
<html>
  <head>
    <title>Icesi Pages</title>
  </head>
  <body>
    <h1>Icesi Pages</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">

      <label for="username">Username</label>
      <input type="text" name="username"><br><br>

      <label for="file1">Index:</label>
      <input type="file" name="file1"><br><br>
      <label for="file2">Node count:</label>
      <input type="file" name="file2"><br><br>
      <input type="submit" value="Upload">
    </form>
  </body>
</html>
