<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Primer parcial</title>
  </head>
  <body>
    <h1>Welcome to {{hostname.stdout}}</h1>

    <div>
      <form action="index_submit" method="get" accept-charset="utf-8">
        <input type="text" value="" name="" id=""/>
      </form>    
    </div>

    <script charset="utf-8">
      const URL = 'http://192.168.33.11:8083'
      fetch(URL)
      .then(response => response.json())
      .then(data => console.log(data));
    </script>

  </body>
</html>
