<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Primer parcial</title>
  </head>
  <body>
    <h1>Welcome to {{hostname.stdout}}</h1>

    <div>
      <table>
        <thead>
          <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Path</td>
            <td>Type</td>
          </tr>
        </thead>
        <tbody id="file-list">

        </tbody>
      </table>

        <form>
          <input type="file" value="Browse File" id="file-to-upload" />
          <input type="submit" value="Upload File" id="trigger-file-upload"/>
        </form>

    </div>
    <script charset="utf-8">
      
      const URL = 'http://{{ ansible_eth1.ipv4.address }}:8083'
      const rendererItem = (item) => {
          return `<tr data-id="${item.id}">
                    <td>${item.id}</td>
                    <td>${item.name}</td>
                    <td>${item.path}</td>
                    <td>${item.type}</td>
                  </tr>`
      }

      window.onload = () => {
          fetch(URL)
              .then(response => response.json())
              .then(data => {
                  const fileList = document.getElementById('file-list')
                  const template = data.map(rendererItem).join('')
                  fileList.innerHTML = template
              })
      }

      const inputFile = document.getElementById('file-to-upload')
      const formdata = new FormData()
      const file = inputFile.files[0]
      formdata.append("originalFileName", file)

      var requestOptions = {
              method: 'POST',
              body: formdata,
              redirect: 'follow',
              mode: 'cors',
              credentials: 'same-origin',
            };

      const uploadFile = () => {
              fetch(URL+"/uploads", requestOptions)
                .then(response => response.text())
                .then(result => console.log(result))
                .catch(error => console.log('error', error));
            };

      const onSelectFile = () => uploadFile();
      inputFile.addEventListener('change', onSelectFile, false);

    </script>
  </body>
</html>