<httpProtocol>
    <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
    </customHeaders>
</httpProtocol>
<html>
    <head>
    </head>
    <script src="main.js"></script>
    <body>
        <div id="information"> </div>
        <div id="storage"> </div>
        <div id="wrap">
            <div class="field">
                <ul class="options">

                    <li>
                        <input type="file" id="myfile" name="myfile" class="rm-input" onchange="selectedFile();"/>
                    </li>

                    <li>
                        <input type="button" value="Subir Archivo" onClick="uploadFile()" class="rm-button"/>
                    </li>
                </ul>
            </div>
    </body>
</html>