<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{print_ip.stdout}}</title>
  </head>
  <body>
    <form
      enctype="multipart/form-data"
      action="http://{{print_ip.stdout}}/"
      method="post"
    >
      <input type="file" name="myFile" />
      <input type="submit" value="Upload" />
    </form>
  </body>

{% raw %}
  <h1>{{ .Title}}</h1>
  <h1>{{ range $i := .Body}}{{$i}}<br/>{{end}}</h1>
{% endraw %}
</html>