<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Bucket</title>
    <link rel="stylesheet"  href="./css/style.css">

  </head>
  
  <body>
   <style>
body{
   background-image: url(./image/fondo.jpg);
}

   </style>
    <header>

      <section class="h1">
        <h1>SD-Exam1 -  Jair Aguirre, Nelson Lopez, Juan Velez</h1>
        <p>Web server: {{print_ip.stdout}} </p>
        {% raw %}
        <p>Storage: {{.Storage}} </p>
        {% endraw %}
      </section>


      <section class="conte">
         <h1>Storage Drive</h1>
      </section>

      <div class="wrapper">
        
  
        <form action="http://{{print_ip.stdout}}/" method="POST" enctype="multipart/form-data">

          <input type="file" name="myFile">
          <input type="submit" value="Upload">
        </form>
      
      </div>
      <div class="alma">
        <h1> File list</h1>
      {% raw %}
        <p>{{ range $i := .Body}}{{$i}}<br/>{{end}}</p>
      {% endraw %}

      </div>

    </header>
    
  
  
  </body>

</html>