<h3>Add file</h3>
<form method="post" action="/files">
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="description" placeholder="Description">
    <input type="file" name="file">
    <button type="submit">Add</button>
</form>