events {
   worker_connections	1024;
}

http {
   include	mime.types;
   default_type	application/octet-stream;
   keepalive_timeout	65;

    upstream web {
        server 192.168.33.11:80;
        server 192.168.33.12:80;
    }

    # HTTPS Test server configuration.
    # Redirect HTTP traffic to HTTPS.
    server {
        listen 80 default_server;
        server_name _;
        index index.html;
        server_name {{ server_hostname }};
#        return 301 https://$host$request_uri;
        location / {
    if ($request_method = 'OPTIONS') {
            add_header 'Access-Control-Allow-Origin' '*';
            add_header 'Access-Control-Allow-Methods' 'GET, POST, OPTIONS';
            #
            # Custom headers and headers various browsers *should* be OK with but aren't
            #
            add_header 'Access-Control-Allow-Headers' 'DNT,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,Range';
            #
            # Tell client that this pre-flight info is valid for 20 days
            #
            add_header 'Access-Control-Max-Age' 1728000;
            add_header 'Content-Type' 'text/plain; charset=utf-8';
            add_header 'Content-Length' 0;
            return 204;
         }
         if ($request_method = 'POST') {
            add_header 'Access-Control-Allow-Origin' '*';
            add_header 'Access-Control-Allow-Methods' 'GET, POST, OPTIONS';
            add_header 'Access-Control-Allow-Headers' 'DNT,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,Range';
            add_header 'Access-Control-Expose-Headers' 'Content-Length,Content-Range';
         }
         if ($request_method = 'GET') {
            add_header 'Access-Control-Allow-Origin' '*';
            add_header 'Access-Control-Allow-Methods' 'GET, POST, OPTIONS';
            add_header 'Access-Control-Allow-Headers' 'DNT,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,Range';
            add_header 'Access-Control-Expose-Headers' 'Content-Length,Content-Range';
         }
            proxy_set_header Host $http_host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
            proxy_pass          http://web;
            proxy_read_timeout  90s;
            proxy_redirect      http://web {{ server_hostname }};
        }
    }

    # Proxy HTTPS traffic using a self-signed certificate.
#    server {
#        listen 443 ssl default_server;
#        server_name {{ server_hostname }};
#        add_header Access-Control-Allow-Origin *;
#        add_header Access-Control-Allow-Methods "GET,HEAD,PUT,PATCH,POST,DELETE";


  #      ssl_certificate {{ certificate_dir }}/{{ server_hostname }}/fullchain.pem;
  #      ssl_certificate_key {{ certificate_dir }}/{{ server_hostname }}/privkey.pem;
#    }
}
