<div class="upload-container">
    <button class="upload-button" (click)="openModal()">Subir Archivo</button>
  </div>
  
  <!-- Modal -->
  <div class="modal" [ngClass]="{ 'show': showModal }">
    <div class="modal-content">
      <span class="close" (click)="closeModal()">&times;</span>
      <h2>Subir Archivo</h2>
      <form [formGroup]="uploadForm" (ngSubmit)="onSubmit()">
        <input type="file" formControlName="file" accept=".pdf, .doc, .docx">
        <button type="submit">Enviar</button>
      </form>
    </div>
  </div>
  