/* Estilos para el botón de subir archivo */
.upload-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .upload-button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Estilos para el modal */
  .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    position: relative;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
  }
  
  h2 {
    font-size: 24px;
  }
  
  form {
    margin-top: 20px;
  }
  
  input[type="file"] {
    display: block;
    margin: 0 auto;
    padding: 10px;
  }
  
  button[type="submit"] {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Clase para mostrar el modal */
  .show {
    display: flex;
  }
  