version: '3'
services:

  consul:
    image: consul:1.15
    container_name: consul
    ports:
      - "8500:8500"
      - "8600:8600/udp"
    networks:
      - parcial
    command: agent -server -bootstrap-expect 1 -ui -data-dir /tmp -client=0.0.0.0

networks:
  parcial:
    driver: bridge