<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">Archivo</h5>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="modalRef.close()"
  ></button>
</div>
<div class="modal-body">
  <div class="input-group mb-3">
    <span class="input-group-text"
      >Nombre del archivo</span>
    <input
      id="filename"
      type="text"
      class="form-control"
      [(ngModel)]="file.filename"
    />
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text"
      >Tamaño</span
    >
    <input
      disabled="true"
      type="text"
      class="form-control"
      value="{{ file.size | fileSize }}"
    />
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="modalRef.close()">
    Cerrar
  </button>
  <button type="button" class="btn btn-primary" (click)="saveChanges()">Guardar</button>
</div>
