body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/*index.html style*/
.header{
  background: saddlebrown;
  text-align: center;
  padding: 5px;
  box-shadow: 0px 2px 5px saddlebrown
}

.header h1{
  font-size: 30px;
  color: rgb(255, 249, 242);
}

.data{
  position: relative;
  min-height: 450px;
  /*border: 1px solid rgb(105, 67, 33);*/
}

.data .database-table{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 18px;
  min-width: 600px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.data .database-table thead tr{
  background-color: saddlebrown;
  color: white;
  text-align: left;
  font-weight: bold;
}

.data .database-table th, .database-table td{
  padding: 12px 15px;
}

.data .database-table tbody tr{
  border-bottom: 1px solid burlywood;
  text-align: left;
  color: rgb(75, 46, 21);
}

.data .database-table tbody tr:last-of-type{
  border-bottom: 2px solid saddlebrown;
}

.buttons{
  position: relative;
  left: 50%;
  width: 20%;
  padding: 15px;
}

/*form.html style*/
.database-submit-form{
  width: 280px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color : saddlebrown;
}

.database-submit-form h1{
  float: left;
  font-size: 40px;
  border-bottom: 6px solid burlywood;
  margin-bottom: 50px;
  padding: 13px 0;
}

.textbox{
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid burlywood;
}

.textbox input{
  border: none;
  outline: none;
  background: none;
  color: rgb(105, 67, 33);
  font-size: 15px;
  width: 80%;
  float: left;
  margin: 0 10px;
}

.btn{
  width: 100%;
  background: burlywood;
  /*border: 1px solid rgb(105, 67, 33);*/
  border: none;
  border-radius: 20px;
  color:  rgb(105, 67, 33);
  padding: 5px;
  font-size: 15px;
  cursor: pointer;
  margin: 12px 0;
}



