/* Tu archivo de estilos */

.file-uploader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 20px; /* Ajusta según sea necesario */
}

.file-upload-button {
    background-color: #25bcff;
    color: white;
    padding: 10px 20px;
    font-size: 1em;
    margin-top: 15px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .file-upload-button:hover {
    background-color: #25beff9c;
  }
  