*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{

    color: white; 
    font-family: 'Times New Roman', Times, serif;
}

header{


    background:rgb(51, 174, 190);
    height: 450px;
    background-size: cover;
    background-repeat: no-repeat;
}

section{

min-width: 1000px;
margin: auto;
padding: 30px 0;

}
section h1{
    font-size: 44px;

}

.conte{

    text-align: center;
}

.conte p{

    font-size: 60px;
    font-weight: bold;
    margin:  1em 0;
}

.conte a {
color: white;
text-decoration: none;
background:rgb(108, 172, 165);
border-radius: 30px;
font-size: 30px;
margin: 10px;

}